<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="comment-top">
	<h4>Bir yorum bırakın</h4>
	<div class="comment-bottom">
		
			<input id="user1" class="form-control" type="text" name="CommentUserName" placeholder="Adınız soyadınız" required="">
			<input id="title1" class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">
			<textarea id="content1" class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
		<button id="btn2" type="submit" class="btn btn-primary submit">Yorum yap</button>

		<script type="text/javascript">
			$(document).ready(function () {
				$("#btn2").click(function () {
					$.ajax({
						url: '@Url.Action("PartialAddComment","Comment")',
						type: 'POST',
						dataType: 'json',
						data: { CommentUserName: $('#user1').val(), CommentTitle: $('#title1').val(), CommentContent: $('#content1').val() },
						success: function (verigelen) {
							$("#btn2").removeAttr("disabled");
							Swal.fire('yorumunuz başarıyla eklendi')
						}
					});
				});
			});
		</script>
		
	</div>
</div>

