<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    BlogPro
                </h3>
                <small>Bu panelde admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>İçerik: Tüm BLoglar</small>   @*Buraya blog içeriğini ekle*@
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 14500</h1>

                <h3 class="font-bold no-margins">
                    Toplam Kazancınız
                </h3>
                <small>ürün Tanıtımları,Promosyonlar,Reklamlar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
