
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<br />
<br />
<div>
    <input type="text" id="writerid" placeholder="Yazar Id Değerini Girin" class="form-control" />
</div>

<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<div id="writerlist">
</div>
<br />
<div id="writerget">
</div>
<div>
    <input type="text" class="form-control" id="txtwriterid"  placeholder="Yazar Id" />
    <input type="text" class="form-control" id="txtwritername"  placeholder="Yazar Adı" />
</div>

<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<br />
<br />
<div>
    <input type="text" class="form-control" id="txtid" placeholder="Silinecek Yazar Id" />
</div>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil</button>
<br />
<br />
<div>
    <input type="text" class="form-control" id="txtid1" placeholder="Güncellenecek Yazar Id" />
    <input type="text" class="form-control" id="txtwritername1" placeholder="Güncellenecek Yazar Adı" />
</div>
<button type="button" id="btndupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
@section scripts{
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered ><tr><th> Yazar Id</th> <th>Yazar Adı</th></tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });  /*bütün addEventListener getirme static*/

        $("#btngetbyid").click(function () {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetByWriterID/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let getvalue = `<table class=table table-bordered ><tr><th> Yazar Id</th> <th>Yazar Adı</th></tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr>`;
                    $("#writerget").html(getvalue);
                }
            });
        });  /*ıd ye göre getirme static*/

        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtwriterid").val(),
                Name: $("#txtwritername").val()
            };
            $.ajax({
                type:"post",
                url: "/Admin/Writer/AddWriter/",
                data:writer,
                success: function(func) {
                    let result = JQuery.ParseJSON(func);
                    alert("yazr ekleme işlemi başarılı bir şekilde yapıldı");
                }
            });
        });  /*ekleme işlemi static*/

        $("#btndeletewriter").click(function (){
            let id = $("#txtid").val();

            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type:"post",
                dataType:"json",
                success: function (func) {
                    alert("yazar silme işlemi başarılı bir şekilde yapıldı");
                }
            });
        });   /*silme işlemi static*/

        $("#btndupdatewriter").click(function () {
            let writer = {
                Id: $("#txtid1").val(),
                Name: $("#txtwritername1").val()
            };
            $.ajax({
                type:"post",
                url: "/Admin/Writer/UpdateWriter/",
                data:writer,
                success:function(funk) {
                    alert("güncelleme gerçekleşti");
                }
            });
        });

    </script>
}
